.bg {
    height:100vh;
    width: 100%;
    background-size:cover;
    position:relative;
}

.m_title {
    font-size: 4.5rem;
}
.m_desc {
    font-size: 2rem;
}
.m-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 128, 0, 0.702);
}
.imageAboutPage {
    width: 100%;
}
body{
    background: var(--bg-color) !important;
}

.m {
    height: 100vh; 
    background-repeat: no-repeat;
    background-position: 60% 0%;
    background-size: cover;
    background-attachment: fixed;
  }
  #skills  {
    margin-top:30px;
    margin-bottom:30px;
    width: 100%;
    background-color: cadetblue;
    padding: 80px ;
    
  }
  #contact {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color:rgb(145, 153, 56);
    
  }
  #about
{
    background-color: aquamarine;
    word-spacing: 5px;
}       
